<button
  [ngClass]="{'active': showToolPanel, 'inactive': !showToolPanel}"
  (click)="showToolPanel = !showToolPanel"
  >{{showToolPanel ? 'Disable' : 'Enable'}} Tool Panel
</button>
<ag-grid-angular
    style="width: 100%; height: 515px;"
    class="ag-fresh"
    enableColResize=true
    [gridOptions]="gridOptions"
    [showToolPanel]="showToolPanel"
    [enableStatusBar]="true"
    [alwaysShowStatusBar]="false"
    [enableRangeSelection]="true"
    [getMainMenuItems]="getMainMenuItems"
    (gridReady)="onGridReady($event)"
    >
</ag-grid-angular>
