//dms-zeus.cmc.ec.gc.ca/nexus/repository/npm-group/:_authToken=NpmToken.e38cc0e1-563b-38db-b903-30a23c58fff9
//dms-zeus.cmc.ec.gc.ca/nexus/repository/npm-private/:_authToken=NpmToken.e38cc0e1-563b-38db-b903-30a23c58fff9

prefix=./.npm-packages
