<div>
  <div><span>Station Name: </span><span>{{stationName}}</span></div>
  <div><span>Province: </span><span>{{province}}</span></div>
  <div><span>Network: </span><span>{{network}}</span></div>
  <div><span>Climate ID: </span><span>{{climateID}}</span></div>
  <div><span>TC ID: </span><span>{{tcID}}</span></div>
  <div><span>WMO ID: </span><span>{{wmoID}}</span></div>
  <div><span>Latitude: </span><span>{{latitude}}</span></div>
  <div><span>Longitude: </span><span>{{longitude}}</span></div>
  <div><span>Elevation: </span><span>{{elevation}}</span></div>
</div>
